[Unit]
Description=Squid Web Proxy Server
After=network.target

[Service]
Type=forking
ExecStartPre=/bin/sleep 1
ExecStart=/opt/squid-6.8/sbin/squid -sYC
ExecReload=/opt/squid-6.8/sbin/squid -k reconfigure
ExecStop=/opt/squid-6.8/sbin/squid -k shutdown
PIDFile=/opt/squid-6.8/var/run/squid.pid
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target

