[Unit]
Description=Ngrok tunnel for Cowrie
After=network.target

[Service]
Type=simple
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/ngrok_autotunnel.sh
Restart=on-failure
RestartSec=5

[Install]
