[Unit]
Description=Suricata IPS (NFQUEUE 0)
After=network.target

[Service]
ExecStart=/opt/suricata-7/bin/suricata -c /opt/suricata-7/etc/suricata/suricata.yaml -q 0 --pidfile /var/run/suricata.pid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PIDFile=/var/run/suricata.pid

[Install]
WantedBy=multi-user.target
